body {
  margin: 0;
  overflow: hidden;
  font-family: "Roboto Mono", monospace;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
}

#title {
  position: fixed;
  margin-left: 2em;
  background-color: rgba(255, 255, 255, 0.2);
  font-family: "Roboto Mono", monospace;
  font-size: 0.8em;
  display: inline-block;
}

#textInput {
  position: fixed;
  right: 2em;
  bottom: 2em;
  background-color: Transparent;
  font-size: 0.7em;
  display: inline-block;
}

input {
  height: 1.5em;
  background: rgba(0, 0, 0, 0.05);
  vertical-align: middle;
  border-radius: 2px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 0.9em;
  font-family: "Roboto Mono", monospace;
  border: none;
}

#word1 {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  vertical-align: middle;
  font-size: 0.9em;
}

.controls-panel {
  position: absolute;
  left: 2em;
  bottom: 2em;
}

.collections {
  float: left;
  background-color: Transparent;
  font-size: 0.9em;
  display: inline-block;
}

#toggleable-elements {
  display: none;
}

#hint_button {
  position: absolute;
  background-color: Transparent;
  font-size: 0.9em;
  display: inline-block;
  bottom: 0;
  padding-left: 20px;
}

.about_info {
  position: fixed;
  right: 2em;
  top: 1em;
}

.about_section {
  font-size: 0.9em;
  display: inline-block;
}

#info_button {
  position: absolute;
  top: 0em;
  right: 0em;
  font-size:0.9em;
}

#info_panel{
  padding-top: 1em;
  border: blue;
}

button {
  font-size: 1em;
  font-family: "Roboto Mono", monospace;
  background-color: Transparent;
  border: none;
  padding: 0;
}

button:hover {
  cursor: pointer;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}
